#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  flex-direction: row;
  margin-top: 60px;
  background: url("https://attisquare.s3.amazonaws.com/atti-images/atti-3.webp")
    no-repeat center;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
}
.franchise-title {
  color: #fff;
  width: 100%;
  text-align: center;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.container1 .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 25px 0px 25px 0px;
  margin: 30px;
  transition: 0.5s;
}

.container1 .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #f0bc1d;
  border-radius: 25px 0px 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container1 .card .box:hover {
  transform: translateY(-50px);
}

.container1 .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.container1 .card .box .content-card {
  padding: 20px;
  text-align: center;
}

.container1 .card .box .content-card h2 {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 8rem;
  color: rgba(47, 40, 40, 0.1);
}

.container1 .card .box .content-card h3 {
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.container1 .card .box .content-card p {
  font-size: 1.3rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.container1 .card .box .content-card a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.container1 .card .box .content-card a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: rgb(246, 245, 245);
}
.h1 {
  text-align: center;
  background: rgb(255, 255, 255);
}
.h2 {
  text-align: center;
  padding-bottom: 1cm;
  padding-top: 1cm;
  color: #f0bc1d;
}
.content-left {
  text-align: center;
  padding-bottom: 2cm;
}
.right {
  display: flex;
}
.points {
  margin-bottom: 3cm;
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  font-size: 20px;
}
#con-left {
  color: #f0bc1d;
  font-size: 20px;
}
.box-o {
  background: hsla(0, 0%, 4%, 0.4);
  box-shadow: 20px 20px 50px rgba(5, 5, 5, 0.705);
}

@media only screen and (max-width: 600px) {
  .points {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .content-left {
    display: flex;
    flex-direction: column;
  }
}
